export BUMP_RELEASE_PRODUCT_TILE_REPO="/Users/pivotal/workspace/p-runtime"
export BUMP_RELEASE_RELEASE_REPO="/Users/pivotal/workspace/cf-autoscaling-release"
export BUMP_RELEASE_COMMIT_AUTHOR_NAME="Christopher Hunter"
export BUMP_RELEASE_COMMIT_AUTHOR_EMAIL="chunter@pivotal.io"
